
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins" , sans-serif, serif ; 
  text-decoration: none;
  list-style: none;
  
}
:root{
  /*! colors */
  --dci-colorNavMenu: white;
  --dci-LGradient: linear-gradient(90deg, #13B0F5, #bbd501);
  --dci-btnBackground: #D7FFE0;
  --dci-btnText: #018C0F;
  --dci-textTitle: #42446E;
  --dci-textDark: #666666;
  --dci-textLight: #A7A7A7;
  --dci-textTitleCard: #000000;
  --dci-textCard: #666666;

  /*! fonts */
  --dci-navYFooter: "DM sans" , sans-serif;

  /*! sizes */
  --dci-size-buttons: 9px;
  --dci-size-xxs: 12px;
  --dci-size-xs: 16px;
  --dci-size-s: 18px;
  --dci-size-sm: 20px;
  --dci-size-m: 28px;
  --dci-size-l: 32px;
  --dci-size-xl: 42px;
  --dci-size-xxl: 58px;

  /*! margins */
  --dci-margins-xxs: 4px;
  --dci-margins-xs: 8px;
  --dci-margins-s: 12px;
  --dci-margins-m: 16px;
  --dci-margins-l: 20px;
  --dci-margins-xl: 24px;
  --dci-margins-xxl: 28px;

  /*! paddings */
  --dci-padding-xxs: 4px;
  --dci-padding-xs: 8px;
  --dci-padding-s: 12px;
  --dci-padding-m: 16px;
  --dci-padding-l: 20px;
  --dci-padding-xl: 24px;
  --dci-padding-xxl: 28px;

  /*! border */
  --dci-border-footer: 3px solid --dci-textDark;
  
  /*! radius */

  --dci-radius-img: 20px;
  --dci-radius-btn: 24px;

  /*! shadows */
  --dci-shadow-card:2px 2px 100px 0px rgba(0,0,0,0.1);
}
body{
  width: 100%;
}

/*? header */
header{
  display: flex;
  justify-content: center;
}

.flex_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navi{
  position: fixed;
  z-index: 2;
  background-color: var(--dci-colorNavMenu);
  width: 80%;
  padding: 20px;
}
.titleDiv{

margin-right: auto;
}
.logo{
  width: 70px;
  
}
h1{
  color: var(--dci-textTitle);
  margin-left: 10px;
}
.headList{
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headList li{
  cursor: pointer;
  margin: 0 20px;
}

.RRSS{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a{
  color: var(--dci-textDark);
}
li{
  font-size: var(--dci-size-sm);
  font-family: var(--dci-border-footer);
}
.RRSS li:nth-child(2) a img{
  width: 47px;
  object-fit: cover;
  margin: 0;
  filter: opacity(0.6);
}
a>img{
  width: 28px;
  margin: 10px;
}
.btnNav{
  display: none;
}
.menu{
  display: none;
}

/*? main */

.nameColor{
  width: 240px;
  font-size: 30px;
  background-image: linear-gradient(90deg, #002c5c, #bbd501);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#hero{
  height: 80svh;
  justify-content: space-evenly;
}
.greeting{
  width: 337px;
}
h2{
  color: var(--dci-textTitle);
}
span{
  cursor: pointer;
}
.divImg{
  width: 300px;
  position: relative;
  border-radius: 50%;
}
.divImg::before{
  position: absolute;
  content: "";
  width: 99%;
  height: 103%;
  background-image: linear-gradient(to right, #002c5c, #bbd501);
  left: -3%;
  top: -2%;
  z-index: -1;
  border-radius: 50%;

}
.avatar{ /* Para que la imagen ocupe todo el ancho del contenedor */
  width: 280px;; /* Para que la imagen ocupe todo el ancho del contenedor */
  border-radius: 100%;
}

.divButtons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.divButtons button{
  border: none;
  background-color:var(--dci-btnBackground) ;
  color: var(--dci-btnText);
  font-size: var(--dci-size-sm);
  cursor: pointer;
  padding: .6rem 1.4rem;
  border-radius: var(--dci-radius-btn);
  transition: all .3s ease-in-out;

}
#aboutMeSectionConten{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}
.divAboutMe{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  padding: 50px 20px;

}
.divAboutMe h3{
  padding: 20px 0;
  font-size: var(--dci-size-xl);
  font-weight: bold;
  color: var(--dci-textTitle);

}
.divAboutMe p{
  color: var(--dci-textDark);
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 20px 0;
}
.divWork{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  padding: 50px 20px;
}
.divWork h3{
  padding: 20px 0;
  font-size: var(--dci-size-xl);
  font-weight:800;
  color: var(--dci-textTitle);

}
/* .divWork p{
  color: var(--dci-textDark);
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 15px 0;
} */
.experience{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--dci-textDark);
}
.right{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;

}
.position{
  color: var(--dci-textDark);
  font-size: var(--dci-size-sm);
  letter-spacing: 1px;
  line-height: 2.8;
}
.company{
  color: var(--dci-textLight);
  font-size: var(--dci-size-xs);
  letter-spacing: 1px;
  line-height: 2.8;
}
.workday{
  width: 80px;
  text-align: center;
  font-size: var(--dci-size-xxs);
  line-height: 2.6;
  background-color: var(--dci-btnBackground);
  color: var(--dci-btnText);
  border-radius: 15px;
  letter-spacing: 1px;
  line-height: 2.8;
}
.date{
  color: var(--dci-textLight);
  font-size: var(--dci-size-xs);
  letter-spacing: 1px;
  line-height: 2.8;
}
.divEducation{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  padding: 50px 20px;
}
.divEducation h3{
  padding: 20px 0;
  font-size: var(--dci-size-xl);
  font-weight:800;
  color: var(--dci-textTitle);
}
.eduLeft{
  gap: 15px;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid var(--dci-textDark);
}
.eduLeft p{
  color: var(--dci-textDark);
  font-size: var(--dci-size-sm);
  letter-spacing: 1px;
  line-height: 2.8;
}
.eduLeft p:nth-child(3){
  flex: 1;
  text-align: right;
  color: var(--dci-textLight);
  font-size: var(--dci-size-xs);
  letter-spacing: 1px;
  line-height: 3.8;
}
.eduRight{
  margin-top: 30px;
  color: var(--dci-textDark);
  font-size: var(--dci-size-s);
  letter-spacing: 1px;
  line-height: 2.8;
}
#techStackSectionContent{
  flex-direction: column;
    width: 100%;
    margin-top: 50px;
}
#techStackSectionContent h3{
  padding: 20px 0;
    font-size: var(--dci-size-xl);
    font-weight: bold;
    color: var(--dci-textTitle);
}
.pT{
  color: var(--dci-textDark);
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 20px 0;
}
#techStackSectionContent p{
  color: var(--dci-textDark);
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 10px 0;
}
.divTech{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  padding: 50px 20px;
}
.divT{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
.di {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  height: 156px;
}
#projectsSectionContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.divTP{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  padding: 50px 20px;

}
.divTP h3{
  padding: 20px 0;
  font-size: var(--dci-size-xl);
  font-weight: bold;
  color: var(--dci-textTitle);
}
.divTP p{
  color: var(--dci-textDark);
    line-height: 1.6;
    letter-spacing: 1px;
    padding: 10px 0;
}
.divProject{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.divP{
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 375px;
  height: 600px;
  margin-bottom: 80px;
  box-shadow: 2px 2px 100px 0px rgba(0,0,0,0.2);

}
.imgPrev{
  border-radius: 25px 25px 0 0;
  width: 375px;
  height: 260px;
  object-fit: cover;
}
.title{
  line-height: 2.6;
  color: var(--dci-textTitleCard);
  font-size: var(--dci-size-m);
}
.description{
  text-align: center;
  width: 314px;
  line-height: 1.6;
  color: var(--dci-textCard);
  font-size: var(--dci-size-s);
}
.fila {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-bottom: 35px;
}
.link{
  color: black;
  text-decoration:underline;
  display: flex;
  align-items: center;
}
#contact{
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 90svh;

}
.divTitle{
  width: 100%;
  height: 60svh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 20px;
  margin-top: 50px;

}
.divTitle h2{
  flex-wrap: wrap;
  font-family:"DM sans" , sans-serif ;
  color: #1E0E62;
  font-size: var(--dci-size-xl);
  padding: 5px;
}
.divTitle p{
  display: block;                                         
}
.mailColor{
  height: auto;
  width: 100%;
  font-size: var(--dci-size-xl);
  background-image: linear-gradient(90deg, #002c5c, #bbd501);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.info{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  padding: 50px 20px;
  gap: 50px;
}
.info p{
  line-height: 1.6;
  color: var(--dci-textDark);
  font-size: var(--dci-size-s);
  letter-spacing: 1px;
}
.ulInfo{
  position: relative;
  top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.ulInfo li:nth-child(2) a img{
  width: 47px;
  object-fit: cover;
  margin: 0;
  filter: opacity(0.6);
}
.footer{
  height: 100px;
  border-top: 2px solid var(--dci-textLight);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.footer p{
  color: var(--dci-textTitle);
  font-size: var(--dci-size-s);
}





@media (max-width: 450px) {
  .navi {
    padding: 20px 0;
    position: fixed;
    width: 100%;
  }
  .btnNav {
    cursor: pointer;
    color: var(--dci-btnText);
    font-size: var(--dci-size-l);
    padding: var(--dci-padding-xxs);
    background-color:transparent;
    border-radius: var(--dci-radius-btn);
    border: none;
    display: block;
  }
  .closeBtn{
    cursor: pointer;
    font-size: var(--dci-size-xs);
    background-color:transparent;
    border: none;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: var(--dci-padding-xxs);
  }
 
  .headList {
    display: none;
  }
  .menu.active {
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    top: 0;
    right: 0;
    background-color: var(--dci-textTitle);
    padding: 2rem;
    gap: 2rem;
    bottom: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  .menu.active li a{
  color:var(--dci-colorNavMenu);
  }
  #hero{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .greeting{
    display: flex;
    justify-content: center;
  }
  main{
    margin-top: 80px;
  }
  .divImg::before{
    position: absolute;
    content: "";
    width: 295px;
    height: 295px;
    background-image: linear-gradient(to right, #002c5c, #bbd501);
    left: 3px;
    top: -7px;
    z-index: -1;
    border-radius: 50%;
  }
  .divTitle p span{
    font-size: var(--dci-size-sm);
  }

  .divAboutMe, .divWork, .divEducation, .divTech, .divTP{
    width: 100%;
    margin-left: 0px;
    padding: 50px 50px 50px 50px;
  }
  .position {
  color: var(--dci-textDark);
  font-size: var(--dci-size-s);
  letter-spacing: -1px;
  line-height: 1.8;
  }
  
  .date {
    color: var(--dci-textLight);
    font-size: var(--dci-size-xs);
    letter-spacing: 4px;
    line-height: 1.8;
  }
  .eduLeft p:nth-child(3){
   flex: 0;
   text-align: center;
   letter-spacing: 0;
   line-height: 2;
  }
  .eduRight{
    text-align: center;
  }
  .divButtons button{
    font-size: var(--dci-size-xs);
  }

  #contact {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .footer {
    text-align: center;
  }
}