.menu{
  display: none;
}

.menu.active {
  display: block;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  top: 0;
  right: 0;
  background-color: var(--dci-textTitle);
  padding: 2rem;
  gap: 1.5rem;
  bottom: 0;
  box-shadow: 0 0 0 100svh rgba(0, 0, 0, 0.5);
}

.menu.active li a{
  color:var(--dci-colorNavMenu);
}
