#hero {
  height: 80svh;
  justify-content: space-evenly;
}
.greeting{
  width: 337px;
}
#egg{
  width: 240px;
  font-size: 30px;
  background-image: linear-gradient(90deg, #002c5c, #bbd501);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.divImg {
  width: 300px;
  position: relative;
  border-radius: 50%;
}
.divImg::before {
  /* position: absolute;
  content: "";
  width: 106%;
  height: 105%;
  background-image: linear-gradient(to right, #002c5c, #bbd501);
  left: -3%;
  top: -3%;
  z-index: -1;
  border-radius: 50%; */
  position: absolute;
  content: "";
  width: 106%;
  height: 106%;
  background-image: linear-gradient(to right, #002c5c, #bbd501);
  left: -3%;
  top: -3.7%;
  z-index: -1;
  border-radius: 50%;
}
.avatar{/* Para que la imagen ocupe todo el ancho del contenedor */
  object-fit: cover;
  object-position: 0 0px;
  width: 300px; 
  height: 300px;
  border-radius: 100%;
 /*  transform: scale(3.2);
    object-fit: contain;
    object-position: -13px 86px;
    width: 300px;
    height: 300px;
    border-radius: 100%; */
}
@media (max-width: 770px){
  #hero{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .greeting{
    display: flex;
    justify-content: center;
  }
  .divImg::before{
    position: absolute;
    content: "";
    width: 315px;
    height: 315px;
    background-image: linear-gradient(to right, #002c5c, #bbd501);
    left: -7px;
    top: -8px;
    z-index: -1;
    border-radius: 50%;
  }
}
