/* Estilos relacionados con la barra de navegación */
.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: var(--dci-colorNavMenu);
  width: 100%;
  padding: 20px;
}
/* Estilos relacionados con el título y el logotipo */
.titleDiv {
  margin-left: 10%;
  margin-right: auto;
}
.logo {
  width: 70px;
}
/* Estilos relacionados con la lista de elementos de la cabecera */
.headList {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headList li{
  cursor: pointer;
  margin: 0 20px;
}
/* Estilos relacionados con la lista de elementos de redes sociales */
.RRSS {
  margin-right: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.RRSS li:nth-child(2) a img{
  width: 47px;
  object-fit: cover;
  margin: 0;
  filter: opacity(0.6);
}
/* Estilos relacionados con el botón de menú */
.btnNav {
  display: none;
  /* Aparece y se activa dinámicamente */
}
/* Estilos relacionados con el menú desplegable */
.menu {
  display: none;
  /* Aparece y se activa dinámicamente */
}
@media (max-width: 1024px) {
  .navi {
    padding: 20px 0;
    position: fixed;
    width: 100%;
  }
  .btnNav {
    cursor: pointer;
    color: var(--dci-btnText);
    font-size: var(--dci-size-l);
    padding: var(--dci-padding-xs);
    margin-right: 10px;
    background-color:transparent;
    border-radius: var(--dci-radius-btn);
    border: none;
    display: block;
  }
  .closeBtn{
    cursor: pointer;
    font-size: var(--dci-size-xs);
    background-color:transparent;
    border: none;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: var(--dci-padding-xxs);
  }
  .headList {
    display: none;
  }
  .menu.active {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    top: 0;
    right: 0;
    background-color: var(--dci-textTitle);
    padding: 2rem;
    gap: 2rem;
    bottom: 0;
    box-shadow: 0 0 0 100% rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  .menu.active li a{
  color:var(--dci-colorNavMenu);
  }
  .titleDiv{
    margin-left: 15px;
  }
  .RRSS{
    margin-right: 15px;
  }
  main{
    margin-top: 80px;
  }
}
@media (max-width: 1345px) {
  .titleDiv {
    margin-left: 0;
  }
  .RRSS {
    margin-right: 0;
  }
  .headList {margin: 0;
  }
  .headList li a{
    font-size: var(--dci-size-s);
  }

}
 
